#playlist{
    display: flex;
    flex-direction: row;
    height: 907px;
    width: 1920px;
}

.wrong-id-div{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;
}

.wrong-id{
    margin-top: 350px;
    font-size: 30px;
}